<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shayekh.android.students">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TDhakaToCampus"
            android:label="From Dhaka to Campus"
            android:parentActivityName=".Teacher"
            ></activity>
        <activity android:name=".TCampusToDhaka"
            android:label="From Campus to Dhaka"
            android:parentActivityName=".Teacher"
            />
        <activity android:name=".SDhakaToCampus"
            android:label="From Dhaka to Campus"
            android:parentActivityName=".Student"
            />
        <activity android:name=".Teacher"
            android:label="Pick Up Point"
            android:parentActivityName=".Dash"/>
        <activity
            android:name=".SCampusToDhaka"
            android:label="From Campus to Dhaka"
            android:parentActivityName=".Student" />
        <activity
            android:name=".Student"
            android:label="Pick Up Point"
            android:parentActivityName=".Dash" />
        <activity android:name=".Dash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDel2x1yZHIX3xa8XnEhk54GffjNBnT4Xw" />

        <activity
            android:name=".MainActivity"
            android:label="Find Bus"
            android:parentActivityName=".Dash" />
    </application>

</manifest>
